Django~=5.2.0
djangorestframework~=3.16.0
djangorestframework-simplejwt~=5.5.0
drf-spectacular~=0.28.0
channels~=4.2.0
channels-redis~=4.3.0
django-cors-headers~=4.6.0
daphne~=4.2.0
websockets~=17.0
celery~=5.5.0
redis~=6.2.0
django-environ~=0.12.0
django-redis~=5.4.0
psycopg[binary]~=3.2.0
Pillow~=11.0
requests~=2.32.0
whitenoise~=6.9.0
